.bl-container{
    background: var(--black);
}

.blog-title {
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 4rem;
    text-align: center;
    color: var(--secondary);
}

.blog-title>span{
    color: var(--purple);
  }

.card-group {
    background-color: var(--black);

}

.custom-card {
    background-color: var(--black);
    color: var(--secondary);
}

.card-title {
    color: var(--purple);
}

.button-section {
    padding-top: 1rem;
}

.update-text {
    color: white;

}